<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" id="formulario" th:action="@{/coches/addcochespost}" th:objetct="${coche}" method="post">
    <p>nbastidor: <input type="text" th:field="${coche.nbastidor}"/> </p>
    <select th:field="${coche.marca}" >
        <option id="marca" th:each="i : ${marcas}" th:value="${i.marca}" th:text="${i.marca}"></option>
    </select>
    <select th:field="${coche.modelo}">
        <option id="modelo" th:each="i : ${modelos}" th:value="${i.modelo}" th:text="${i.modelo}"></option>
    </select>
    <p>kilometros: <input type="number" th:field="${coche.kilometros}"/> </p>
    <p>motor: <input type="text" th:field="${coche.motor}"/> </p>
    <p>modificaciones: <input type="number" th:field="${coche.modificaciones}"/> </p>
    <p>tipo_modificaciones: <input type="text" th:field="${coche.tipo_modificaciones}"/> </p>
    <p><input type="submit" value="SUBMIT"/> </p>
</form>
</body>
<script th:inline="javascript">
    const form = document.getElementById('formulario');
    const marca = document.getElementById('marca');
</script>
</html>