<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" method="post" id="formulario">
    <table>
        <thead>
            <tr>
                <th>Numero de Bastidor</th>
                <th>Modelo</th>
                <th>Marca</th>
                <th>Kilometros</th>
                <th>Motor</th>
                <th>Modificaciones</th>
                <th>Tipo de Modificaciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="coche, iterator : ${coches}">
                <th><span th:text="${coche.nbastidor}">Nombre</span></th>
                <th><span th:text="${coche.modelo}">Descripción</span></th>
                <th><span th:text="${coche.marca}">Horas</span></th>
                <th><span th:text="${coche.kilometros}">Precio</span></th>
                <th><span th:text="${coche.motor}">Precio</span></th>
                <th><span th:text="${coche.modificaciones}">Precio</span></th>
                <th><span th:text="${coche.tipo_modificaciones}">Precio</span></th>
                <th><input type="checkbox" th:value="${iterator.index}" th:name="borrado"></th>
                <th><input type="submit"  th:value="${coche.id}" th:name="update" onclick="updates()"></th>
            </tr>
        </tbody>
    </table>
    <input type="submit" onclick="deletes()" value="Borrado">
</form>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script th:inline="javascript">
    const form = document.getElementById('formulario');
    function updates() {
        form.setAttribute('action', '/coches/listcochesupdatepost');
    }
    function deletes() {
        form.setAttribute('action', '/coches/listcochesdelpost');
    }
</script>
</html>